@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@solana/wallet-adapter-react-ui/styles.css";

xhtml,
body {
  overflow-x: hidden;
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
